@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yanone+Kaffeesatz:wght@300;700&display=swap');

body{
    font: normal 16px Arial;
}
h1 {
    text-align: center;
}
h2{
    /*Importante */
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 70px;
    padding-bottom: 100px;
    text-indent: 20px;
    /* text ident */

}
p{
    text-align: justify;
    text-indent: 30px;
}